aiohttp==1.2.0
appdirs==1.4.3
-e git+https://github.com/ldotlopez/appkit.git@eef952db5cda63d34890e7ea455c457f5bb205ba#egg=appkit
arrow==0.10.0
async-timeout==1.2.0
babelfish==0.5.5
beautifulsoup4==4.5.3
bencodepy==0.9.5
blinker==1.4
chardet==2.3.0
guessit==2.1.1
humanfriendly==2.3.2
lxml==3.7.2
multidict==2.1.4
pkg-resources==0.0.0
python-dateutil==2.6.0
PyYAML==3.12
rebulk==0.8.2
six==1.10.0
SQLAlchemy==1.1.5
tabulate==0.7.7
transmissionrpc==0.11
yarl==0.10.0
