# Core
feedparser
beautifulsoup4
sqlalchemy
path.py
transmissionrpc
guessit
blinker
ipdb
-e git+https://github.com/ldotlopez/ldotcommons.git@adc5320d9d2e75ea83459665bdc926d2d8018974#egg=ldotcommons

# Webui 
flask
git+https://github.com/tomchristie/flask-api#egg=Flask-API
