#
# Core
#
aiohttp
arrow
bencodepy
blinker
humanfriendly
guessit>=2.0.0
sqlalchemy

-e git+https://github.com/ldotlopez/ldotcommons.git@appkit#egg=appkit=='0.9.0'

#
# Optional modules
# 

# Almost all origins
beautifulsoup4
feedparser
lxml

# transmission
transmissionrpc

