<!-- Query model -->
<div class="input-group">
  <span class="input-group-addon">Search:</span>
  <input type="text" ng-model="query" ng-change="search()" id="query" class="form-control" placeholder="type something…">
  
</div>
<div class="checkbox">
  <label>
    <input ng-change="search()" ng-model="all_states" type="checkbox" value="">
    Include everything in results. (By default only sources with NONE state are displayed)
  </label>
</div>

<form class="form-horizontal" role="form">
	<!-- Filter by type -->
	
	<div class="col-md-4">
	<label for="type-fieldset" class="control-label">Type:</label>
	<fieldset id="type-fieldset">
	<div class="checkbox-inline" ng-repeat="type in types">
	  <label>
	    <input type="checkbox" value="{{type}}" ng-model="type.selected" ng-change="search()">
	    {{type.name}}
	  </label>
	</div>
	</fieldset>
	</div>
	
	<!-- Filter by language -->
	<div class="col-md-4">
	<label for="language-fieldset" class="control-label">Language:</label>
	<fieldset id="language-fieldset">
	<div class="checkbox-inline" ng-repeat="language in languages">
	  <label>
	    <input type="checkbox" value="{{language}}" ng-model="language.selected" ng-change="search()">
	    {{language.name}}
	  </label>
	</div>
	</fieldset>
	</div>
</form>	

<!-- Results -->
<div class="row" ng-repeat="group in resultsGroups">
	<div class="col col-md-12" ng-repeat="result in group">
		<h4>{{result.name}}</h4>
		<div class="btn-group btn-group-sm">
			<a type="button" class="btn btn-primary" ng-click="addDownload(result.id)" data="{{result.id}}" href="">Download</a>
			<a type="button" class="btn btn-primary" ng-href="{{result.uri}}">Magnet</a>
		</div>
	</div>
</div>
